<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Inventário</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-list-painel-nav-menu" aria-hidden="true"></span> Painel
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vendas">
                <span class="bi bi-list-vendas-nav-menu" aria-hidden="true"></span> Vendas
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="produto">
                <span class="bi bi-list-produto-nav-menu" aria-hidden="true"></span> Estoque
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categoria">
                <span class="bi bi-list-categorias-nav-menu" aria-hidden="true"></span> Categorias
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tamanho">
                <span class="bi bi-list-tamanhos-nav-menu" aria-hidden="true"></span> Tamanhos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pagamento">
                <span class="bi bi-list-tamanhos-nav-menu" aria-hidden="true"></span> Formas de Pagamento
            </NavLink>
        </div>
    </nav>
</div>